/node_modules/
/dist/
/.vscode/
.DS_Store

# my temporary files
public/Materials/sharanam/*
public/locker/*

public/Materials/Tushar Rupani/*
public/assignments/MCA-II/my practice/*
public/Materials/Prof JV Smart/PS02EMCA60 Embedded Systems and Iot/extractedResources/*
