.mb {
    margin-bottom: 15px;
}

.my {
    margin-bottom: 15px;
    margin-top: 15px;
}

.center {
    text-align: center;
}

div.overflow {
    overflow: -moz-scrollbars-vertical;
    overflow: auto;
}

div.overflow::-webkit-scrollbar {
    display: none;
}

button.btn {
    border: 0;
    background: transparent;
    font-size: 1.5em;
    font-weight: bold;
    color: currentColor;
    cursor: help;
}

a {
    color: currentColor;
}

a.googleMeetButton {
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: fit-content;
    padding: 5px;
    box-shadow: 10px 10px 5px -7px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px -7px rgba(0, 0, 0, 0.75);
}

a.googleMeetButton:hover {
    background-color: rgba(204, 204, 204, 0.5);
    color: rgba(255, 255, 255, 0.8);
}

a.googleMeetButton:active {
    box-shadow: 10px 10px 35px -3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 35px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 35px -3px rgba(0, 0, 0, 0.75);
}

td[colspan="6"] {
    background-color: rgb(218, 177, 191, 0.2);
}

thead td {
    background-color: rgb(218, 177, 191, 0.3);
}

tr td.time {
    background-color: rgb(218, 177, 191, 0.2);
}

li {
    list-style-position: inside;
}

div.innerSection {
    margin: 20px 2px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
}