.mb {
    margin-bottom: 15px;
}

div.overflow {
    overflow: scroll;
}

div.overflow::-webkit-scrollbar {
    display: none;
}

button.btn {
    border: 0;
    background: transparent;
    font-size: 1.5em;
    font-weight: bold;
    color: currentColor;
    cursor: help;
}

a {
    color: currentColor;
}